body {
    background-color: #363636;
}

.create-update-form,
.main-btn-container {
    display: flex;
    width: fit-content;
    gap: 1em;
    margin: 1em;
}

.main-container {
    color: #fff;
    gap: 1em;
    margin: 3em 1em 1em 1em;
    display: flex;
    flex-direction: column;
}

.car-name {
}

.car-name-container {
    display: flex;
    width: fit-content;
    gap: 1em;
}

.car-icon {
    height: 3em;
}

.finish-icon {
    height: 3em;
    position: absolute;
    right: 4em;
}

.inner-car-container {
    margin-top: 1em;
    display: flex;
    gap: 1em;
    border-bottom-style: dashed;
    border-bottom-color: #fff;
    border-bottom-width: 7px;
}

.inner-car-container .btn {
    height: 2.5em;
}
